<div class="formSurveys">
    <h2>Crear Encuesta</h2>
    <div class="form-group">
        <label for="surveyTitle">Título de la Encuesta:</label>
        <input type="text" id="surveyTitle" placeholder="Ingrese el título">
    </div>
    <div class="form-group">
        <label for="surveyTarget">Dirigido a:</label>
        <select id="surveyTarget">
            <option value="role">Por Rol</option>
            <option value="area">Por Área</option>
            <option value="individual">A un empleado en particular</option>
        </select>
    </div>
    <button class="button">Enviar Encuesta</button>
</div>