<div class="historySurveys">
    <h2>Historial de Encuestas Creadas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Dirigido a</th>
                <th>Fecha Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Encuesta de Evaluación</td>
                <td>Equipo de Ventas</td>
                <td>10/01/2025</td>
                <td><button class="button">Ver Detalles</button></td>
            </tr>
        </tbody>
    </table>
</div>