{% extends 'layouts/base.html' %}

{% block title %}Administración general{% endblock %}

{% block content %}
<div class="homeAdmin">
    <div class="titleAdmin">
        <h2>Administración general</h2>
    </div>
    <div class="containerAdmin">
        {% include 'components/admin/formAdmin.html' %}
        {% include 'components/admin/tableAdmin.html' %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/formAdmin.js') }}"></script>
{% endblock %}