{% extends 'layouts/base.html' %}

{% block title %}Documentos{% endblock %}

{% block content %}
<div class="containerDocuments">
    <div class="containerTitleDocuments">
        <h2>Documentos</h2>
    </div>
    <div class="containerFormTable">
        {% include 'components/sidebarDocuments.html' %}
        {% include 'components/listDocuments.html' %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/formDocuments.js') }}"></script>
{% endblock %}