{% extends 'layouts/base.html' %}

{% block title %}Empleados{% endblock %}

{% block content %}
<div class="homeEmployees">
    <div class="titleEmployees">
        <h2>Empleados</h2>
        <nav>
            <button class="btn-empleados">Empleados</button>
            <button class="btn-areas">Áreas</button>
        </nav>
    </div>
    <div class="containerEmployees">
        {% include 'components/employees/formEmployees.html' %}
        {% include 'components/employees/infoEmployees.html' %}
        {% include 'components/employees/cardEmployees.html' %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/modalEmployees.js') }}"></script>
{% endblock %}