@use '../base/variables';

.homeNotifications{

    flex-grow: 1; // Hace que el contenido ocupe el resto del espacio disponible
    transition: margin-left 0.3s ease;

    .containerNotifications{
        display: flex;
        margin-top: 2rem;
    }
}