@use '../base/variables';

.homeReporting{

    flex-grow: 1; // Hace que el contenido ocupe el resto del espacio disponible
    transition: margin-left 0.3s ease;

    .containerReporting{
        display: flex;
        margin: 2rem;
    }
}