@use '../base/variables';

.homeSurveys{

    flex-grow: 1; // Hace que el contenido ocupe el resto del espacio disponible
    transition: margin-left 0.3s ease;

    .containerSurveys{
        display: flex;
        margin: 2rem;

        div{
            margin: 2rem;
        }
    }
}