<aside class="aside-sidebar expanded">
    <div class="top">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/wmms.png') }}" alt="">
        </div>
        <div class="close" id="close-btn">
            <span class="material-symbols-outlined">menu</span>
        </div>
    </div>

    <div class="sidebar">
        {% for block in g.sidebar_blocks %}
        <a href="{{ '/' + block.url }}">
            <span class="material-symbols-outlined">{{ block.icon }}</span>
            <h3>{{ block.name }}</h3>
        </a>
        {% endfor %}
    </div>
</aside>