<aside class="aside-sidebar expanded">
    <div class="top">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/wmms.png') }}" alt="">
        </div>
        <div class="close" id="close-btn">
            <span class="material-symbols-outlined">menu</span>
        </div>
    </div>

    <div class="sidebar">
        <a href="#"  class="active">
            <span class="material-symbols-outlined">Dashboard</span>
            <h3>Administración</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">event</span>
            <h3>Dashboard</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">school</span>
            <h3>Dias</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">manage_accounts</span>
            <h3>Documentos</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">Dashboard</span>
            <h3>Empleados</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">event</span>
            <h3>Mi equipo</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">school</span>
            <h3>Notificaciones</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">manage_accounts</span>
            <h3>Recibo de sueldo</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">Dashboard</span>
            <h3>Reportes</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">event</span>
            <h3>Salas</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">school</span>
            <h3>Configuración</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">manage_accounts</span>
            <h3>Soporte</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">manage_accounts</span>
            <h3>Encuestas</h3>
        </a>
        <a href="#">
            <span class="material-symbols-outlined">manage_accounts</span>
            <h3>Capacitaciones</h3>
        </a>
<!--         <a href="#">
            <span class="material-symbols-outlined">logout</span>
            <h3>Logout</h3>
        </a> -->

    </div>
</aside>