<div class="left-section">
    <div class="highlight-container">
        <div class="highlight">
            <h2>Ausentes de la Semana</h2>
            <p><strong id="weeklyAbsences">0</strong></p>
        </div>
        <div class="highlight">
            <h2>Ausentes del mes</h2>
            <p><strong id="monthlyAbsences">0</strong></p>
        </div>
    </div>
    <div class="card">
        <h2>Ausencias del Mes</h2>
        <table id="monthlyAbsencesTable" class="emails-table">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Fecha de ausencia</th>
                    <th>Tipo de Ausencia</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="card">
        <h2>Listado de Empleados</h2>
        <table id="teamAbsencesTable" class="emails-table">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Última Ausencia</th>
                    <th>Próxima Ausencia</th>
                    <th>Ausencias en el Mes</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    

    <div id="empleadoDetalle" style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;"></div>
</div>