<form class="formSettings">
    <label for="currentPassword">Contraseña Actual</label>
    <input type="password" id="currentPassword" placeholder="Ingrese su contraseña actual" required>

    <label for="newPassword">Nueva Contraseña</label>
    <input type="password" id="newPassword" placeholder="Ingrese la nueva contraseña" required>

    <label for="confirmPassword">Confirmar Nueva Contraseña</label>
    <input type="password" id="confirmPassword" placeholder="Confirme la nueva contraseña" required>

    <button type="submit">Cambiar Contraseña</button>
</form>
