@use './base/variables';
@use './components/sidebar';
@use './components/containerOwn';
@use './components/containerInfoDashboard';
@use './components/containerEmployees';
@use './components/formDays';
@use './components/formRoom';
@use './components/formEmployees';
@use './components/containerInfoEmployees';
@use './components/cardEmployees';
@use './components/tableDays';
@use './components/tableRoom';
@use './components/loginSection';
@use './components/welcomeSection';
@use './components/sidebarDocuments';
@use './components/mainDocuments';
@use './pages/days';
@use './pages/rooms';
@use './pages/dashboard';
@use './pages/home';
@use './pages/documents';
@use './pages/employees';
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88rem;
    background-color: variables.$color-background;
    user-select: none;
    overflow-x: hidden;
}