<form class="formDays" onsubmit="enviarSolicitud(event)">
    <label for="typeDay">Tipo de Día</label>
    <select id="typeDay" name="typeDay" onchange="cambiarFormulario()">
        <option value="0">Elige un día</option>
        <option value="1">Día de ausencia</option>
        <option value="2">Día de estudio</option>
        <option value="3">Día de home office</option>
        <option value="4">Días de vacaciones</option>
    </select>
    
    <div id="formFields">
    </div>
    
    <button type="submit">Enviar solicitud</button>
</form>