<form class="formDays">
    <label for="typeDay">Tipo de Día</label>
    <select id="typeDay" onchange="cambiarFormulario()">
        <option value="ausencia">Día de ausencia</option>
        <option value="home_office">Día de home office</option>
        <option value="estudio">Día de estudio</option>
        <option value="vacaciones">Días de vacaciones</option>
    </select>
    
    <div id="formFields">
        <label for="motivo">Motivo</label>
        <select id="motivo">
            <option value="enfermedad">Enfermedad</option>
            <option value="turno_medico">Turno médico</option>
            <option value="mudanza">Mudanza</option>
            <option value="problema_familiar">Problema familiar</option>
            <option value="otro">Otro</option>
        </select>
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" min="" max="">
    </div>
    
    <button type="submit">Enviar solicitud</button>
</form>