@use '../base/variables';

.containerInfoEmployees {
    background: white;
    padding: 25px;
    margin: 1rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;

    select, input {
        width: 100%;
        padding: 12px;
        margin-top: 8px;
        margin-bottom: 15px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
    }

    select:focus, input:focus {
        border-color: variables.$color-orange-wmms-focus;
        outline: none;
        box-shadow: 0 0 5px rgba(255, 107, 53, 0.5);
    }

    button {
        background-color: variables.$color-orange-wmms-focus;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 15px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px; /* Espaciado entre icono y texto */
        transition: all 0.3s ease-in-out;
    }
    
    button:hover, button:focus {
        background-color: #e65b2a;
        box-shadow: 0 4px 10px rgba(255, 107, 53, 0.3);
        outline: 2px solid variables.$color-orange-wmms-focus;
    }
    
    button:active {
        transform: scale(0.98);
    }
    

}

.employee-card {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
}

.employee-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.employee-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.employee-info h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.employee-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.employee-status {
    font-weight: bold;
}

.employee-status .active {
    color: #e65b2a; /* Color naranja para el estado activo */
}

