@use '../base/variables';

aside {
    height: 100vh;
    background-color: variables.$color-white;
    box-shadow: 1rem 3rem 4rem variables.$color-light;
}

aside.collapsed{
    width: 5rem;
    transform: translateX(0);
}

aside.collapsed h3{
    display: none;
    opacity: 0;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
}

aside .logo{
    display: flex;
    gap: 0.8srem;
}

aside .logo img{
    width: 70%;
}

aside.collapsed .logo{
    display: none;
}

aside .close{
    display: block;
    margin-right: .5rem;
    margin-top: .3rem;
    cursor: pointer;
}

aside.collapsed .close{
    margin-left: auto; margin-right: auto;
}

aside .sidebar{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
}

aside h3{
    font-weight: 500;
    margin-top: 0.55rem;
}

aside .sidebar a{
    display: flex;
    color:  variables.$color-info-dark;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    text-decoration: none;
    width: 100%;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

/* aside .sidebar a:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
} */

aside .sidebar a.active{
    background: variables.$color-light;
    color: variables.$color-primary;
    margin-left: 0;
}

aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 50px;
    background: variables.$color-primary;
}

aside .sidebar a.active span{
    color: variables.$color-primary;
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: variables.$color-primary;
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside.collapsed .sidebar a:hover span{
    margin-left: .3rem;
}

aside .sidebar .message-count{
    background: variables.$color-danger;
    color: variables.$color-white;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: variables.$border-radius-1;
}


@media screen and (max-width: 1200px){
    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

}


@media screen and (max-width: 768px){
    aside{
        position: fixed;
        left: 0;
        background: variables.$color-white;
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem variables.$color-light;
        height: 100vh;
        padding: variables.$card-padding;
        display: none;
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .close{
        display: inline-block;
        cursor: pointer;
    }
}
