<div class="selectEmployees">
    <div class="form-group">
        <label for="areaEmployees">Área</label>
        <select id="areaEmployees">
            <option value="operaciones">Operaciones</option>
            <option value="pagos">Pagos</option>
            <option value="recursos_humanos">Recursos Humanos</option>
        </select>
    </div>

    <div class="form-group">
        <label for="employees">Empleado</label>
        <select id="employees">
            <option value="empleado1">María López</option>
            <option value="empleado2">Empleado 2</option>
        </select>
    </div>
</div>
