<div class="left-section">
    <div class="highlight-container">
        <div class="highlight">
            <h2>Ausentes del Día</h2>
            <p><strong>5</strong></p>
        </div>
        <div class="highlight">
            <h2>Ausentes de la Semana</h2>
            <p><strong>20</strong></p>
        </div>
    </div>
    <div class="card">
        <h2>Emails y Credenciales</h2>
        <table class="emails-table">
            <tr><th>Email</th><th>Credencial</th></tr>
            <tr><td>ana.lopez@wmms.com</td><td>Admin</td></tr>
            <tr><td>carlos.perez@wmms.com</td><td>User</td></tr>
        </table>
    </div>
    <div class="card">
        <h2>Últimas Solicitudes de Días</h2>
        <p>Juan García - Pendiente</p>
        <p>Laura Martínez - Aprobado</p>
        <div class="action-buttons">
            <span class="button approveBtn">Confirmar</span>
        </div>
    </div>
    <div class="card">
        <h2>Noticias Internas</h2>
        <a>Nueva política de vacaciones implementada.</a>
        <a>Actualización de software el próximo lunes.</a>
        <span class="button">Ver más</span>
    </div>
    <div class="card">
        <h2>Capacitaciones Asignadas</h2>
        <a>Excel Avanzado</a>
        <a>Gestión de Proyectos</a>
        <span class="button">Confirmar</span>
    </div>
</div>