<div class="panelSupport">
    <h2>Panel de Estado para IT</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoría</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Asignado a</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5</td>
                <td>Equipo Físico</td>
                <td>Fallo en laptop</td>
                <td>En proceso</td>
                <td>Juan Pérez</td>
            </tr>
        </tbody>
    </table>
</div>