<div class="tableSupport">
    <h2>Historial de Tickets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoría</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Sistemas</td>
                <td>Problema de acceso</td>
                <td>Pendiente</td>
                <td><button class="button">Ver</button></td>
            </tr>
        </tbody>
    </table>
</div>